.header-currencies {
  position: fixed;
  top: 60px;
  right: 120px;
  width: 114px;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
}

.header-currencies > .currency {
  color: var(--cc-black);
  font-size: 18px;
  font-weight: var(--font-weight-medium);
  padding: 10px 0 10px 0;
  text-align: center;
  cursor: pointer;
}

.header-currencies > .currency:hover {
    background-color: #EEEEEE;
}
