.product-list {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 50px;
  row-gap: 50px;
  padding-bottom: 80px;
}

.product-card-img {
  width: 100%;
  height: auto;
}

.product-card-title {
  font-size: 18px;
  color: var(--cc-black);
}

.product-card-price {
  font-size: 18px;
  font-weight: var(--font-weight-medium);
}

.product-card {
  cursor: pointer;
  padding: 16px;
  align-items: center;
  position: relative;
}

.product-card:hover {
  box-shadow: 0px 4px 35px rgba(168, 172, 176, 0.19);
}

.product-card-cart {
  position: absolute;
  right: 10%;
  bottom: 10%;
  background-color: var(--c-primary);
  width: 15%;
  text-align: center;
  padding: 13px;
  border-radius: 50%;
  box-shadow: 0px 4px 11px rgba(29, 31, 34, 0.1);
  display: none;
}

.product-card-cart > .cart {
  width: 25px;
  height: auto;
}

.product-card:hover > .product-card-cart {
  display: block;
  transition: ease 10s;
}

.product-list > a {
  text-decoration: none;
  color: var(--cc-black);
}
